#:schema https://json.schemastore.org/any.json

env_files = []
root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  args_bin = []
  bin = "./tmp/main"
  pre_cmd = [
    "bunx tsc --noEmit",
    "bunx @tailwindcss/cli -i ./web/input.css -o ./public/styles.css",
    "bun build ./web/src/index.ts --outdir=./public",
    # "GOOS=js GOARCH=wasm tinygo build -o ./public/main.wasm ./web/wasm",
  ]
  cmd = "go build -o ./tmp/main ./cmd/server"
  post_cmd = []
  delay = 1000
  entrypoint = ["./tmp/main"]
  exclude_dir = ["assets", "tmp", "vendor", "testdata"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  ignore_dangerous_root_dir = false
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html", "ts"]
  include_file = []
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  silent = false
  time = false

[misc]
  clean_on_exit = false

[proxy]
  app_port = 0
  app_start_timeout = 0
  enabled = false
  proxy_port = 0

[screen]
  clear_on_rebuild = false
  keep_scroll = true
